   body {
  height: 100%;
  width: 100%;
  background-color: rgba(8, 81, 13, 0.703);
  font-family: 'Figtree', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 2.7rem;
  flex-direction: column;
}

.key-btn {
  display: grid;
  grid-template-columns:  10vmin 10vmin 10vmin;
  margin-left: 10vmin;;
  flex-direction: column;
  margin-top: -30vmin;
  height: 10vmin;
  flex-wrap: wrap;


}
.key-btn > button {
  color: white;
  height: 4vmin;
  background-color: rgba(203, 19, 19, 0.835);
  border-radius: 2vmin;
  padding: 5px 10px;

}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35vmin;
}

img {
  border: solid white 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vmin;
  width: 35vmin;
  height: 75vmin;
  border-radius: 20%;
}

.play-again {
  display: flex;
  border-radius: 2vmin;
  border: black solid 2px;
  background-color: rgb(124, 7, 7);
  color: white;
  padding: 10px 20px;
  margin-top: 4vmin;
}

.underscore {
  display: flex;

}

h3 {
  border: 1px solid black;
  padding: 2vmin;
}

 .remove {
  border: transparent;
 }

 #display-result {
    display: flex;
    top: 50%;
    right : 43%;
    background-color: transparent;
    color: #000;
    font-size: 3.5vmin;
    padding: 1rem;
    font-family: 'STIX Two Text', serif;
 }
