  body {
  height: 100%;
  width: 100%;
  background-color: rgba(8, 81, 13, 0.703);
  font-family: 'Figtree', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 2.7rem;
  flex-direction: column;
}

/* h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  flex-direction: ;
} */

.key-btn {
  display: grid;
  grid-template-columns:  10vmin 10vmin 10vmin;
  margin-left: 7rem;;
  flex-direction: column;
  margin-top: -10rem;
  height: 10vmin;
  flex-wrap: wrap;


}
.key-btn > button {
  color: black;
  height: 4vmin;
  background-color: white;
  border-radius: 2vmin;
  padding: 5px 10px;

}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16rem;
}

img {
  border: solid red;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  width: 35vmin;
  height: 75vmin;
  border-radius: 40%;
}

.play-again {
  border-radius: 2vmin;
  border: black solid 2px;
  background-color: rgb(124, 7, 7);
  color: white;
  padding: 10px 20px;
  margin-top: 3rem;
}

.underscore {
  display: flex;

}

h3 {
  border: 1px solid black;
  padding: 1rem;
}

h4 {
  padding: 1rem;
}
